#main-content {
  background-color: #ffffff;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Roboto", sans-serif;
  margin: 0 3em;
  box-shadow: -1px 15px 33px 4px rgb(0 0 0 / 15%);
  border-radius: 6px;
  flex: auto;
}

.card {
  display: none;
}

.visible {
  display: block;
}

#main-content button {
  width: 50%;
  border: none;
  text-transform: uppercase;
  background-color: #154619;
  padding: 1em 1.5em;
  color: #ffffff;
  cursor: pointer;
}

#main-content button:hover {
  background-color: #438d42;
}

@media screen and (min-width: 769px) {
  #main-content {
    max-width: 500px;
  }
}

@media only screen and (max-width: 600px) {
  #content-wrapper {
    display: block;
    left: 0px;
    top: 47px;
    z-index: 7;
    max-width: 380px;
    height: 687px;
    position: absolute;
  }
  #main-content {
    max-width: 320px;
    min-width: 270px;
  }
}

#content-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  left: 50%;
  top: 50%;
  z-index: 7;
  max-width: 936px;
  height: 644px;
  position: absolute;
  max-height: 512px;
  transform: translate(-50%, -50%);
}

#signup-form {
  border-radius: 6px 6px 0 0;
  padding: 1.5em 2.4em 0.7em;
}

#button-wrapper {
  width: 100%;
  display: flex;
}

.previous {
  border-radius: 0 0 0 6px;
  width: 50%;
  border: none;
  text-transform: uppercase;
  background-color: #154619;
  padding: 1em 1.5em;
  color: #ffffff;
  cursor: pointer;
}

.next {
  border-radius: 0 0 6px 0;
}

/* Text */
h1 {
  font-size: 1.6em;
  font-weight: 500;
  text-align: center;
  margin: 1em 0;
  padding: 0 1em;
  color: black;
}

/* Input boxes and radio buttons */
input[type="text"],
input[type="email"] {
  line-height: 1.5;
  padding: 0.5em 1em;
  border: 1px solid;
  display: block;
  width: 100%;
  margin: 0;
  box-sizing: border-box;
  border-radius: 4px;
}

input[type="text"]:focus-visible,
input[type="email"]:focus-visible {
    border: rgb(67, 141, 66, 0.5) 2px solid;
    outline: none;
    color: rgb(67, 141, 66, 0.5) ;
}

input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #d1d3d1;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #CCAB04;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

.checkbox-wrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: left;
}


input[type='checkbox']{
    margin: 10px;
}

input[type='checkbox']:after {
    width: 18px;
    height: 18px;
    top: -5px;
    left: -5px;
    position: relative;
    background-color: #d1d3d1;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

input[type='checkbox']:checked:after {
    width: 18px;
    height: 18px;
    border-radius: 25%;
    top: -5px;
    left: -5px;
    position: relative;
    background-color: #CCAB04;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

/* Circles for steps */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.finished {
  background-color: #154619;
}

.active {
  background-color: #438d42;
}

/* Errors */

.error {
  display: none;
  color: red;
  font-style: italic;
}
